body{ 
	padding: 0; 
	margin: 0;
	min-width: 700px;
}
html  {
 min-width: 700px;
}



.fctie_header{
	position: absolute;
	width: 100%;
	height: 5em;
}

.fctie_header .fctie_header-rad{
	height: 1.5em;
	width: auto;
	float: left; 
	margin: 1.5em 1em 1em 1em;
}

.fctie_header .fctie_test {
	position: absolute;
	right:5em;
	min-width: 5em;
	min-height: 1em;
	margin-top: 1em; 
}



.fctie_header .fctie_header-block {
	margin-left: .5em;
	float: right; 	
}


.fctie_input-execute, .fctie_input-export {

    background-color: transparent;
    height: 2.8em;
    outline: none;
    border-radius: 5px;
    border: 2px solid #16B891;
    color: #16B891;
    cursor: pointer;
}

.fctie_input-execute{

	position: absolute;
	top: 13em;
	left: 47%;
}

.fctie_container{
	top:5em;
	position: absolute;
	
	width: 100%;
	height: 88%;
	
}

.fctie_container .fctie_block{
	display: block;
	margin-left: 1%;
	margin-top: 2%;
	height: 92%;
	width: 46%;
	float: left;
	
}

.fctie_container .fctie_block:last-of-type{
	margin-left: 5%;
}

.fctie_container .fctie_block .fctie_block-heading {

	background-color:#CCFFCC;
	padding: .5em;
}

.fctie_container .fctie_block .fctie_block-container{

	height: 94%;
	width: 99.7%;

}

.fctie_container .fctie_block .fctie_block-container textarea{
	margin: 0;
	height: 99%;
	width: 98.8%;
	resize: none;
	outline: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}

#fctie_output {
	height: 100%;
	width: 100%;
}